.logo_nav{
    margin-left: 30px;
    width: 125px;
    background-color: rgba(255, 255, 255, 0.7);
}

.nav-item{
    padding: 0px 15px;
}

.nav-link{
    font-size: 25px;
    color: #d6d6d6;
}

.nav-link:hover{
    color: #16110e;
}

.nav-item5{
    padding-right: 30px;
}

header{
    background-color: rgba(161,6,9,255);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar {
    font-family: 'Secular One', sans-serif;
}